html,
body {
    height: 97.5%;
    margin: 0;
    padding: 0;

}

.mg60 {
    margin-left: 90%;
}

.hg100 {
    height: 100%;
}


/*caso resolução for no máximo 992px*/
@media screen and (max-width: 770px) {

    .hg100 {
        height: 60%;
    }

}

#menu a:hover {
    background-color: #ddd;
}

.table {
    background-color: ;
}

.colorirlinha {
    background-color: #e15d5d;
}


